@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300|Montserrat:400,500,600');

body {
	font: normal 16px 'Montserrat','Noto Sans KR', sans-serif;
	line-height:1.3;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
	letter-spacing: -0.3px;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {list-style:none;}

img {border:0;}

a {text-decoration:none; font-size: 16px; font-weight: 300; color: #333;}

i, address, small, em {text-decoration: none; font-weight: 300; font-style: normal; color: #333; }

table {border-collapse: collapse; border-spacing: 0;}

figure {margin: 0; }



/* lay out*/
.wrap {position: relative; min-width: 72.9166667%; /*1400/1920*/}
.wrap header {position: fixed; top: 0; left: 0; right: 0; z-index: 900;  padding: 100px 0 30px 0; box-shadow: 0 0 17px rgba(0,0,0,0.1); background: url('../images/bg_header_4.jpg')no-repeat 0 0px; transition: all 0.5s ease}
.wrap.active header{padding: 10px 0; background: white;} 
.wrap.active header nav h1 > a {font-size: 28px;}
.wrap.active main {padding-top: 100px;}
.wrap main {padding: 220px 70px 0; transition: all 0.5s ease;}
.wrap footer {padding: 100px; text-align: center;}


/* header */
nav {margin: 0 auto; width: 100%; font-size: 0; text-align: center;}
nav a {display: inline-block; position: relative; font-size: 16px; letter-spacing: 1px; font-weight: 500; transition: all 0.5s ease;}
nav a:after {content: ''; position: absolute; bottom: -9px; left: 45%; right: 45%; height: 2px; background-color: transparent; transition: all 0.4s ease}
nav a:hover:after {left: 0; right: 0; background-color: #de0092}
nav h1 {display: inline-block; margin: 0 109px 0 134px;}
nav h1 > a {letter-spacing: -2px; font-size: 45px; font-weight: 600; color: #de0092} 



/* main */
section {margin: 0 auto; max-width: 1400px;}
section h2 {position: relative; margin: 0 auto; width: 70px; line-height: 50px}
section h2:after {content: ''; position: absolute; top: 0; left: 10px; right: 10px; height: 2px; background-color: #FF653F;}

.portfolio ul > li {overflow: hidden; margin-top: 50px; border-bottom: 2px solid rgba(0,0,0,0.1)}
.portfolio ul > li + li {margin-top: 176px;}
.portfolio ul > li span {float: left;}
.portfolio ul > li span em {font-weight: 400}
.portfolio ul > li .img_box {max-width: 60%}
.portfolio ul > li .img_box img {width: 100%;}
.portfolio ul > li.content_63 .img_box {float: right;}
.portfolio ul > li.content_63 .txt_box {float: right; text-align: right;}
.portfolio ul > li.content_hyosung .img_box {float: right;}
.portfolio ul > li.content_hyosung .txt_box {float: right; text-align: right;}
.portfolio ul > li.content_hyosung .txt_box .open_btn {width: 97px;}


.portfolio ul > li .txt_box {padding: 50px 0}
.portfolio ul > li .txt_box * {display: block; line-height: 20px;}
.portfolio ul > li .txt_box h3 {font-size: 35px}
.portfolio ul > li .txt_box strong {margin-top: 20px}
.portfolio ul > li .txt_box em {margin-top: 20px}
.portfolio ul > li .txt_box .open_btn {display: inline-block; position: relative; margin-top: 20px; width: 150px; border: 1px solid #de0092; background-color: #de0092; font-size: 13px; color: white; text-align: center; line-height: 33px;}
.portfolio ul > li .txt_box .open_btn:hover:before {content: ''; position: absolute; top: -1px; left: -1px; bottom: -1px; width: 0; background-color: white; animation: btn_action 0.6s ease;}
@keyframes btn_action {from {width: 0;} 50% {width: 100%;} to {width: 0}}

.cover_letter {clear: both; padding-top: 200px; font-family: Noto Sans KR; text-align: center;}
.cover_letter h2 {width: 100px;}
.cover_letter h3 {margin-top: 50px; font-size: 30px; line-height: 55px}

.cover_letter {margin: 0 auto;} 
.cover_letter div {margin-top: 50px; font-weight: 600;}
.cover_letter div p + p {margin-top: 23px}

.cover_letter .skill {margin-top: 100px}
.cover_letter .skill ul > li * {display: block;}
.cover_letter .skill ul > li {margin-top: 30px}
.cover_letter .skill ul > li strong {display: inline-block; position: relative; color: #f37321}

.cover_letter .skill ul > li span {margin-top: 20px}
.cover_letter .skill ul > li span em {margin-top: 10px}





/* footer */
footer h3 {font-size: 20px; margin-bottom: 45px}
footer a {display: block; margin: 0 auto; width: 200px;}

footer a.email_addr {width: 230px;}
footer address {margin-top: 20px;font-family: Montserrat; font-size: 20px; font-weight: 500; line-height: 32px}
footer address:hover {color: #de0092;}
footer p {margin-top: 50px; font-size: 28px; font-weight: bold;}


/*----------------------- media ------------------------------ */


@media screen and (min-width: 1920px){
.wrap header {background-size: cover;}
}

@media screen and (max-width: 1200px){
.wrap header {background-size: auto;}
.portfolio ul {max-width: 900px;}
.portfolio ul > li span {display: block; float: none;}
.portfolio ul > li .img_box {max-width: 100%;}

.portfolio ul > li.content_63 .img_box {float: none;}
.portfolio ul > li.content_63 .txt_box {float: none; text-align: left;}
.portfolio ul > li.content_hyosung .img_box {float: none;}
.portfolio ul > li.content_hyosung .txt_box {float: none; text-align: left;}

.cover_letter h3 {font-size: 25px;}

}

@media screen and (max-width: 640px){

.wrap header {padding: 90px 0 30px 0;}
.wrap.active header nav h1 > a {font-size: 25px;}
.wrap main {margin-top: 220px; padding: 0 20px}

nav {width: 100%;}
nav a {font-size: 16px;}
nav h1 {margin: 0 78px 0 105px}
nav h1 > a {font-size: 30px;} 

.portfolio ul > li + li {margin-top: 120px;}
.cover_letter h3 {font-size: 20px;}

}


@media screen and (max-width: 459px){

.wrap header {padding: 0; height: 100px}
.wrap.active header{padding: 0; height: 70px} 
.wrap.active header nav a {top: 40px;}
.wrap.active header nav h1 > a {margin-left: -18.626px; top: 10px;}

nav a {position: absolute; top: 68px;}
nav a.btn_portfolio {left: 6%}
nav a.btn_cover {right: 2%}
nav h1 > a {top: 52px; left: 50%; margin-left: -22.955px}

.wrap main {margin-top: 132px}

.portfolio ul > li .txt_box {text-align: center;}
.portfolio ul > li .txt_box h3 {font-size: 23px}
.portfolio ul > li.content_63 .txt_box {text-align: center;}
.portfolio ul > li.content_hyosung .txt_box {text-align: center;}

.cover_letter {padding-top: 106px;}
.cover_letter p{line-height: 35px;}
.cover_letter p + p {margin-top: 0px}

.wrap footer {padding: 70px}
footer h3 {margin-bottom: 35px}
footer a {width: 172px;}
footer address {margin-top: 20px; font-size: 16px}

}


