@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR');
@font-face { font-family: 'WONTitle'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
	font-family:  Arial, nbgr, '나눔바른고딕', '돋음', Nanum Gothic, 'Noto Sans KR','Godo', sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
	vertical-align: top;
}
table {
	width:100%;
	border-collapse:collapse;
}

table caption {position:absolute; top:0; left:-999999px;}

a:link, a:visited {
	color: #666666;
	text-decoration:none;
}
a:hover {
	color: #666666;
	text-decoration:none;
}

select, input, textarea {
	font:normal 1em '나눔고딕','돋움',dotum,AppleGothic, Arial, Verdana,'Noto Sans KR', sans-serif;
	color:#797b80;
	vertical-align:middle;
	border:none;
	padding: 0;
}
button {
	border:none;
	padding: 0;
}
em, i {font-style: normal;}

address{font-style: normal;}


 /*   lay out   */

.wrap { 
	background-color: white;
	min-width: 1060px;
}
.wrap header { 
	height: 120px;
}
.wrap header > .header_wrap {
	position: relative;
	height: 120px;
	background:url('../images/bg_header.png')repeat-x 0 0;
	z-index: 300;
}
.wrap header > .header_wrap > .inner {
	width: 1060px; 
	position: absolute;
	left: 50%;
	margin-left: -530px;
}
.wrap main {}
.wrap main .serv_info {}
.wrap main .content{ 
	background: #faf1e0 url('../images/bg_hotcontent02.png')repeat-x bottom left; 
	font-family: '나눔바른고딕'; 
	color: #222; 
}
.wrap main .content .hot_content { 
	padding-top: 200px; 
	background: url('../images/bg_hotcontent.png')no-repeat bottom left;
	position: relative;
	overflow: hidden;
}
.wrap main .content .hot_content > .contents_row { 
	width: 1200px; 
	min-height: 2000px;
	margin: 0 auto; 
	position: relative;
	z-index: 100;
}
.wrap main .brand_list {
    font-size: 0;
	width: 1060px;
	margin: 0 auto;
}
.wrap main .brand_wrap {
	padding: 70px 0 80px 0;
}
.wrap footer {
	position: relative;
	background-color: #222; 
	padding: 30px 0;
}
.wrap footer > .inner {
	width: 1060px;
	margin: 0 auto;
}




/* common 공통사항 */

.hide {
	visibility: hidden; 
	width: 0; 
	height: 0;
}
.haze {
	text-indent: -99999px;
}

/**/




/* header */
.header_wrap  .inner  h1 { 
	position: absolute; 
	top: 68px; 
	left: 0;
}
.header_wrap  .inner  h1 > a { 
	display: block;
}
.header_wrap  .inner  .gnb  .utill {
	position: absolute; 
	top: 10px; 
	right: 3px;
}
.header_wrap  .inner  .gnb  .utill > li { 
	float: left; 
}
.header_wrap  .inner  .gnb  .utill > li + li {
	margin-left: 20px;
}
.header_wrap  .inner  .gnb  .utill > li > a {
	line-height: 24px; 
	color: #9f9f9f; 
	font-size: 12px; 
	transition: all 0.4s ease; 
	display: block;
}
.header_wrap  .inner  .gnb  .utill > li > a:hover {
	color: white;
}
.header_wrap  .inner  .gnb  .utill > li:last-child {
	margin-left: 3px; 
	background-color: #2d2d2d; 
	border-radius: 5px;
}
.header_wrap  .inner  .gnb  .utill > li:last-child > a {
	width: 67px; 
	text-align: center;
}
.header_wrap  .inner  .gnb  .utill .cs_center {
	width: 76px; 
	margin-left: 11px; 
	position: relative; 
	padding-left: 8px;
	background:url('../images/ico_gnb_updown.png')no-repeat 58px 10px;
}
.header_wrap  .inner  .gnb  .utill .cs_center > a {
	padding-right: 15px; 
}
.header_wrap  .inner  .gnb  .utill .cs_center ul {
	visibility: hidden;
	height: 0;
}
.header_wrap  .inner  .gnb  .utill .cs_center.active {
	background-position: 58px -10px; 
}
.header_wrap  .inner  .gnb  .utill .cs_center.active > a {
	color: white; 
	font-weight: 400;
}
.header_wrap  .inner  .gnb  .utill .cs_center.active ul {
	visibility: visible; 
	width: 74px; 
	height: 65px; 
	border:1px solid #999999; 
	border-radius: 5px; 
	padding: 25px 5px 0 5px;
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: 100;
}
.header_wrap  .inner  .gnb  .utill .cs_center.active ul li {
	background-color: #222;
}
.header_wrap  .inner  .gnb  .utill .cs_center.active ul li a {
	font-size:11px; 
	color: rgb(159, 159, 159);
}
.header_wrap  .inner > .gnb  nav {
	position: absolute;
	top: 72px;
	left: 227px;
}
.header_wrap  .inner > .gnb  nav > ul:after {
	content: ''; 
	display: block; 
	clear: both;
}
.header_wrap  .inner > .gnb  nav > ul > li {
	float: left;
	width: 135px;
}
.header_wrap  .inner > .gnb  nav > ul > li:first-child {
	margin-right: 17px;
}
.header_wrap  .inner > .gnb  nav > ul > li  a {
	color: white; 
	font-size: 16px; 
	transition: all 0.4s ease;
}
.header_wrap  .inner > .gnb  nav > ul > li  a:hover {
	color: #f4790b;
}
.header_wrap  .inner > .gnb  nav > ul > li > ul {
	display: none; /*visibility: hidden; position: absolute; top: 60px;*/
}
.wrap header .header_wrap.on {
	height: 456px;
	background-color: rgba(0,0,0,0.7);
}
.wrap header .header_wrap.on .inner > .gnb  nav ul > li > ul {
	display: block;
	margin-top: 50px;
}
.wrap header .header_wrap.on .inner > .gnb  nav ul > li > ul > li > a {
	font-size: 14px; 
	line-height: 30px; 
	position: relative;
}
.wrap header .header_wrap.on .inner > .gnb  nav ul > li > ul > li > a:hover:after {
	content: ''; 
	display:block; 
	clear: both; 
	border-bottom:1px solid #f4790b; 
	position: absolute; 
	bottom: -4px; 
	left: 0; 
	right: 0; 
}
.header_wrap  .inner > .gnb  .btn_gnb_close {
	display: none;
}
.header_wrap  .inner > .search { 
	position: absolute;
	top: 62px;
	right: 90px;
} 
.header_wrap  .inner > .search > a { 
	display: block; 
	text-indent: -99999px; 
	width: 35px; 
	height: 58px;
	background: url('../images/btn_gnb_search.png') no-repeat 6px 7px; 
	border-top-left-radius: 25px; 
	border-top-right-radius: 25px;
} 
.header_wrap  .inner > .search .search_box {
	visibility: hidden;
	position: fixed; 
	height: 0;
	top: 120px;
	left: 0; 
	right: 0; 
	background-color: #f8f8f8;
	text-align: center;
	font-size: 0;
	z-index: 300;
	overflow: hidden;
	transition: all 0.5s ease;
}
.header_wrap  .inner > .search .search_box input.text {
	font-family: '나눔바른고딕';
	border:2px solid #222222; 
	line-height: 56px; 
	width: 535px; 
	vertical-align: top; 
	font-size:18px; 
	font-weight: 400; 
	margin-top: 40px;
	padding-left: 10px; 
	color: #222;
}
.header_wrap  .inner > .search .search_box input.text::placeholder {
	color: #f4790b; 
}
.header_wrap  .inner > .search .search_box button.btn_search {
	line-height: 60px; 
	background-color: #333333; 
	width: 120px; 
	color: white; 
	font-size: 18px; 
	font-weight: 400;
	margin-top: 40px;
	font-family: '나눔바른고딕';
	transition: all 0.4s ease; 
}
.header_wrap  .inner > .search .search_box button.btn_search:hover {
	background-color: black; 
	border-color: black;
}
.header_wrap  .inner > .search.on > a {
	background: #f8f8f8 url('../images/btn_gnb_search.png')no-repeat 6px -18px;
} 
.header_wrap  .inner > .search.on .search_box {
	visibility: visible;
	height: 153px; 
} 
.header_wrap  .inner > .onestar {
	position: absolute;
	background: url('../images/onestar.png')no-repeat; 
	top: 45px;
	right: 3px;
	text-indent: -99999px; 
	width: 72px; 
	height: 56px;
}
.header_wrap  .inner > .onestar:hover {
	background:url('../images/onestar_move.gif')no-repeat;}



/* main */

.visual_slider {
	min-width: 1020px;
}
.visual_slider ul li {
	overflow: hidden; 
}
.visual_slider ul li > img { 
	max-width: none; 
	position: relative; 
	left: 50%; 
	margin-left: -960px;
}
.visual_slider ul li > span {
	width: 1020px; 
	position: absolute; 
	top: 100px; 
	left: 50%; 
	margin-left: -510px; 
}
.visual_slider ul li > span > * {
	display: block;
}
.visual_slider ul li > span > img {
	margin-bottom: 9px;
}
.visual_slider ul li > span > strong{
	font-family:WONTitle;  
	font-size: 50px; 
	color: black; 
	font-weight: normal; 
	line-height: 60px;
}
.visual_slider ul li > span > em{
	font-family:'나눔바른고딕'; 
	font-size: 16px; 
	color: black; 
	line-height: 26px;
}
.visual_slider ul li > span > em:first-of-type {
	margin-top: 20px;
}
.visual_slider ul li > span > a {
	border:1px solid black; 
	font-size: 14px; 
	border-radius: 3px; 
	width: 158px; 
	text-align: center; 
	font-family: '나눔바른고딕'; 
	color: black; 
	margin-top: 60px; 
	line-height: 38px; 
	transition: all 0.3s ease;
}
.visual_slider ul li > span > a:hover {
	border-color: rgba(255,255,255,0); 
	background-color: rgba(255,255,255,0.2);
}
.visual_slider ul li.white > span > strong{
	color: white;
}
.visual_slider ul li.white > span > a {
	border-color: white; 
	color: white;
}
.visual_slider ul li > span > a:hover {
	border-color: rgba(255,255,255,0); 
	background-color: rgba(255,255,255,0.2);
}
.bx-wrapper {
	box-shadow: none; 
	border:none; 
	margin: 0;
}
.bx-wrapper .bx-controls.bx-has-controls-direction.bx-has-controls-auto.bx-has-pager{
	height: 0;
}
.bx-wrapper .pager_wrap {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	bottom: 60px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	position: static;
	display: inline-block;
	text-align: center; 
	vertical-align: top;
	width: auto;
	padding: 0;
	margin-left: 5px;
}
.bx-wrapper .bx-pager .bx-pager-item {
	display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: transparent; 
	background: url('../images/btn_banner_black.png') no-repeat -130px 0px;
	border-radius: 0;
	width: 22px;
	height: 30px;
	margin: 0;
}
.bx-wrapper.white .bx-pager.bx-default-pager a {
	background-image: url('../images/btn_banner.png');
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: url('../images/btn_banner_black.png') no-repeat -130px -30px;
}
.bx-wrapper.white .bx-pager.bx-default-pager a:hover, .bx-wrapper.white .bx-pager.bx-default-pager a.active, .bx-wrapper.white .bx-pager.bx-default-pager a:focus {
	background-image: url('../images/btn_banner.png')
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	position: static;
	display: inline-block;
	vertical-align: middle;
	width: 30px; 
	height: 30px; 
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto a {
	width: 30px; 
	height: 30px; 
	background: url('../images/btn_banner_black.png')no-repeat -100px 0px;
}
.bx-wrapper.white .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto a {
	background-image: url('../images/btn_banner.png')
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto .bx-stop {
	background-position: -100px -30px;
}
.bx-wrapper .bx-controls-direction a {
	top: 46%;
	width: 46px;
	height: 50px;
	z-index: 200;
	background: url('../images/btn_banner_black.png')no-repeat 0 0;
}
.bx-wrapper.white .bx-controls-direction a {
	background-image: url('../images/btn_banner.png')
}
.bx-wrapper .bx-controls-direction a.bx-prev {
 	left: 20px;
}
.bx-wrapper .bx-controls-direction a.bx-next {
	right: 20px;
	background-position: -46px 0;
}



.serv_info > ul {
	width: 1024px;
	padding: 16px 0 35px 0;
	margin: 0 auto;
	overflow: hidden;
}
.serv_info > ul > li {
	width: 256px;
	float: left;
	position: relative;
}
.serv_info > ul > li+li:after {
	content: '';
	width: 1px;
	height: 150px;
	background-color: #dddddd;
	position: absolute;
	top: 21px;
	left: 0;
}
.serv_info > ul > li > a { 
	width:100%;
	display: block;
	text-align: center;
}
.serv_info > ul > li.serv_point > a > img {
	margin-right: -37px;
}
.serv_info > ul > li > a > strong { 
	display: block;
	color: #222;
	font-size: 17px;
	font-weight: 800;
}
.serv_info > ul > li > a > em {
	display: block;
	font-size: 13px;
	margin-top: 10px;
}


.hot_content h2 {
	position: absolute;
	top: 66px;
	left: 50%;
	z-index: 100;
	margin-left: -341px;
	font-family: 'WONTitle';
	font-size: 40px;
	color: #222;
	font-weight: 100;
	text-align: center;
	line-height: 55px;
}

/* hot_item 공통사항 */
.hot_content .contents_row > .hot_item {
	background-color: white;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-shadow: 2px 5px 15px rgba(0,0,0,0.07);
}
.hot_content .contents_row > .hot_item .haze {
	width: 0;
	height: 0;
}
.hot_content .contents_row > .hot_item .photo {
	width: 100%;
}
.hot_content .contents_row > .hot_item .logo {
	margin-top: 12px;
	height: 35px;
}
.hot_content .contents_row > .hot_item .title {
	display: block;
	color: #222;
	font-size: 16px;
	font-weight: 400;
	margin-top: 20px;
}
.hot_content .contents_row > .hot_item .expln {
	display: block;
	margin-top: 10px;
}
.hot_content .contents_row > .hot_item .togo {
	color: #222;
	font-size: 14px;
	border:1px solid #222;
	border-radius: 3px;
	display: inline-block;
	background: url('../images/ico_out_link04.png')no-repeat 87px 6px;
	line-height: 30px;
	margin-top: 20px;
	padding: 0 35px 0 15px
}
.hot_content .contents_row > .hot_item .detail {
	background-color: white;
	position: absolute;
	transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
	/*transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);*/
}


/* row 공통사항 */
.hot_content .contents_row > .hot_item.row .row_info {
	float: left;
}
.hot_content .contents_row > .hot_item.row a > .photo {
	float: right;
}
.hot_content .contents_row > .hot_item.row > .detail {
	top: 0;
	left: -500px;
	right: 500px;
	bottom: 0;
}
.hot_content .contents_row > .hot_item.row:hover > .detail {
	left: 0;
	right: 0;
}


/* big 공통사항 */
.hot_content .contents_row > .hot_item.big.recipe {
	width: 500px;
	height: 609px;
	position: absolute;
	top: 50px;
	left: 100px;
}
.hot_content .contents_row > .hot_item.big.recipe .photo {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.hot_content .contents_row > .hot_item.big.recipe > .detail {
	padding-top: 200px;
	top: 609px;
	left: 0;
	right: 0;
	bottom: 0;
}
.hot_content .contents_row > .hot_item.big:hover > .detail{
	top: 0;
}
.hot_content .contents_row > .hot_item.big.recipe > .detail > .detail_inner {
	margin-top: 10px;
}


/* col 공통사항 */

.hot_content .contents_row > .hot_item.col > a > .title {
	margin: 0 auto;
}
.hot_content .contents_row > .hot_item.col .togo {
	background-position: 70px 6px;
}


/* cgv 공통사항 */
.hot_content > .contents_row .hot_item.cgv .logo {
	display: block;
	margin: 10px auto;
}
.hot_content > .contents_row .hot_item.cgv .grade {
	display: inline-block;
	border:1px solid #ee6900;
	border-radius: 50%;
	color: #ee6900;
	font-size: 10px;
	width: 11px;
	height: 11px;
	padding: 2px;
	vertical-align: top;
}
.hot_content .contents_row > .hot_item.cgv .haze {
	display: inline-block;
}
.hot_content > .contents_row .hot_item.cgv .title {
	display: inline-block;
	margin-top: 0;
}
.hot_content > .contents_row .hot_item.cgv .ranking {
	display: block;
	margin-top: 15px;
}
.hot_content > .contents_row .hot_item.cgv .ranking  em {
	color: #888;
	font-size: 14px;
}
.hot_content > .contents_row .hot_item.cgv .ranking  i.star {
	width: 103px;
	height: 18px;
	margin-left: 10px;
	background: url('../images/ico_movie.png')no-repeat 0 -55px;
	position: relative;
}
.hot_content > .contents_row .hot_item.cgv .ranking  i.star:before {
	content: '';
	width: 84px;
	height: 18px;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/ico_movie.png')no-repeat 0 -36px;
}
.hot_content > .contents_row .hot_item.cgv > .detail > .expln {
	display: block;
}
.hot_content > .contents_row .hot_item.cgv > .detail > .title {
	margin-top: 0;
}
.hot_content > .contents_row .hot_item.cgv > .detail .togo {
	background-position: 70px 7px;
}


/* 로고형 공통사항 */
.hot_content .contents_row > .hot_item.logo_only > a > .logo{
	position: absolute;
	left: 10px;
	bottom: 0;
	background-color: white;
}


/* 쇼핑 공통사항 */
.hot_content > .contents_row .hot_item.shopping > a > .title {
	margin: 15px auto 8px;
}
.hot_content .contents_row > .hot_item.shopping .togo {
	background-position: 70px 7px;
}
.hot_content > .contents_row .hot_item.shopping .haze {
	display: inline-block;
}
.hot_content .contents_row > .hot_item.shopping s {
	font-size: 12px;
}
.hot_content .contents_row > .hot_item.shopping .price {
	color: #222;
	font-size: 14px;
}


/* row recipe */
.hot_content .contents_row > .hot_item.row.recipe {
	width: 500px;
	height: 220px;
	position: absolute;
	top: 50px;
	left: 655px;
}
.hot_content .contents_row > .hot_item.row.recipe .photo {
	width: 220px;
	height: 220px;
	object-fit: cover;
}
.hot_content .contents_row > .hot_item.row.recipe .row_info {
	width: 280px;
	margin-top: 42px;
}

/* blog */
.hot_content .contents_row > .hot_item.col.blog {
	width: 220px;
	height: 399px;
	background-color: #439d34;
	box-shadow: none;
	position: absolute;
	top: 315px;
	left: 642px;
}
.hot_content .contents_row > .hot_item.col.blog > a > .title {
	color: white;
	width: 155px;
	line-height: 24px;
	padding-bottom: 10px;
}
.hot_content .contents_row > .hot_item.col.blog .haze {
	width: 44px;
	height: 20px;
	margin: 30px auto;
	background: url('../images/img_logo_blog.png')no-repeat center top;
}
.hot_content .contents_row > .hot_item.col.blog .date {
	font-size: 12px;
	color: white;
}
.hot_content .contents_row > .hot_item.col.blog .detail {
	padding-top: 70px;
	top: 399px;
	left: 0;
	right: 0;
	bottom: 0;
}
.hot_content .contents_row > .hot_item.col.blog:hover .detail {
	top: 0;
}
.hot_content .contents_row > .hot_item.col.blog .detail > .haze {
	background-position: 0 bottom;
}
.hot_content .contents_row > .hot_item.col.blog .detail > .title {
	color: #439d34;
	width: 155px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 auto;
	padding: 20px 0 10px;
}
.hot_content .contents_row > .hot_item.col.blog .detail > .date {
	color: #439d34; 
	display: block;

}
.hot_content .contents_row > .hot_item.col.blog .togo {
	font-weight: 700;
	color: #439d34;
	border-color: #439d34;
	background: url('../images/ico_out_link02.png')no-repeat 87px 6px;
}


/* 세로형 cgv */
.hot_content .contents_row > .hot_item.col.cgv {
	width: 300px;
	height: 573px;
	position: absolute;
	top: 328px;
	right: 7px;
}
.hot_content .contents_row > .hot_item.col.cgv > .detail {
	padding-top: 160px;
	top: 573px;
	bottom: 0;
	left: 0;
	right: 0;
}
.hot_content .contents_row > .hot_item.col.cgv:hover > .detail {
	top: 0;
}


/* 작은 정사각형 로고형 (쇼핑) */
.hot_content .contents_row > .hot_item.small {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 710px;
}
.hot_content .contents_row > .hot_item.small > .detail {
	top: 300px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 70px;
}
.hot_content .contents_row > .hot_item.small:hover > .detail {
	top: 0;
}
.hot_content .contents_row > .hot_item.small > .detail > .price {
	display: block;
	font-size: 14px;
	margin-top: 15px;
}


 /*페이스북 */
.hot_content > .contents_row .hot_item.col.facebook {
	width: 220px;
	height: 348px;
	padding-top: 40px;
	background-color: #3b5998;
	box-shadow: none;
	position: absolute;
	top: 707px;
	left: 345px;
}
.hot_content > .contents_row .hot_item.col.facebook .logo {
 	height: auto;
}
.hot_content > .contents_row .hot_item.col.facebook .title {
	width: 190px;
 	padding: 70px 0;
 	color: white;
	position: relative;
 }
.hot_content > .contents_row .hot_item.col.facebook .title:before {
 	content: '';
	background: url('../images/ico_quotes01.png')no-repeat 0 0;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 18px;
	left: 85px;
}
.hot_content > .contents_row .hot_item.col.facebook .title:after {
	content: '';
	background: url('../images/ico_quotes02.png')no-repeat 0 0;
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 15px;
	left: 85px;
}
.hot_content > .contents_row .hot_item.col.facebook > .detail {
	top: 388px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 25px;

}
.hot_content > .contents_row .hot_item.col.facebook:hover > .detail {
	top: 0;
}
.hot_content > .contents_row .hot_item.col.facebook > .detail > .logo {
	margin-bottom: 14px;
}
.hot_content > .contents_row .hot_item.col.facebook > .detail > .title {
	color: #3b5998;
	margin: 0 auto;
}
.hot_content > .contents_row .hot_item.col.facebook > .detail > .title:before {
	background: url('../images/ico_quotes01_on.png')no-repeat 0 0;
}
.hot_content > .contents_row .hot_item.col.facebook > .detail > .title:after {
	background: url('../images/ico_quotes02_on.png')no-repeat 0 0;
}
.hot_content > .contents_row .hot_item.col.facebook > .detail .togo {
	color: #3b5998;
	border-color: #3b5998;
	background: url('../images/ico_out_link03.png')no-repeat 86px 7px;
}


/* 큰 정사각형 로고형 (쇼핑) */
.hot_content .contents_row > .hot_item.square {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 955px;
	right: 50px;
}
.hot_content .contents_row > .hot_item.square > .detail {
	top: 500px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 170px;
}
.hot_content .contents_row > .hot_item.square:hover > .detail {
	top: 0;
}
.hot_content .contents_row > .hot_item.square > .detail .detail_inner {
	display: block;
	margin-top: 15px;
}


/* 세로형 (쇼핑)  */
.hot_content .contents_row > .hot_item.col.shopping {
	width: 220px;
	height: 378px;
}
.hot_content .contents_row > .hot_item.col.shopping > .detail {
	top: 378px;
	bottom: 0;
	padding-top: 80px;
}
.hot_content .contents_row > .hot_item.col.shopping:hover > .detail {
	top: 0;
}
.hot_content .contents_row > .hot_item.col.shopping > .detail > .title {
	margin: 10px auto;
}
.hot_content .contents_row > .hot_item.col.shopping > .detail > .detail_inner {
	display: block;
}
.hot_content .contents_row > .hot_item.col_1 {
	position: absolute;
	top: 1057px;
	left: 100px;
}
.hot_content .contents_row > .hot_item.col_2 { 
	position: absolute;
	top: 1120px;
	left: 370px;
}
.hot_content .contents_row > .hot_item.col_3 { 
	position: absolute;
	bottom: 88px;
	right: 320px;
}
.hot_content .contents_row > .hot_item.col_4 { 
	position: absolute;
	bottom: 88px;
	right: 51px;
}


/* 가로형 cgv */
.hot_content .contents_row > .hot_item.row.cgv {
	width: 500px;
	height: 314px;
	position: absolute;
	bottom: 100px;
	left: 100px;
}
.hot_content .contents_row > .hot_item.row.cgv .row_info {
	width: 275px;
	margin-top: 70px;
}
.hot_content > .contents_row .hot_item.row.cgv .ranking  i.star:before {
	width: 97px;
}
.hot_content .contents_row > .hot_item.row.cgv > a > .photo {
	width: auto;
	height: 100%;
	object-fit: cover;
}
.hot_content .contents_row > .hot_item.row.cgv > .detail {
	padding-top: 20px;
}


.hot_content > .circle_wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.hot_content > .circle_wrap > i {
	position: absolute;
	width: 162px;
	height: 162px;
}
.hot_content > .circle_wrap > .circle_1 {
	background: url('../images/bg_circle01.png')no-repeat 0 0;
	top: 360px;
	right: 1%;
}
.hot_content > .circle_wrap > .circle_2 {
	background: url('../images/bg_circle02.png')no-repeat 0 0;
	top: 800px;
	left: 1%;
}
.hot_content > .circle_wrap > .circle_3 {
	background: url('../images/bg_circle01.png')no-repeat 0 0;
	top: 700px;
	left: 50%;
}
.hot_content > .circle_wrap > .circle_4 {
	width: 206px;
	height: 206px;
	background: url('../images/bg_circle04.png')no-repeat 0 0;
	top: 1000px;
	right: 2%;
}
.hot_content > .circle_wrap > .circle_5 {
	width: 508px;
	height: 508px;
	background: url('../images/bg_circle06.png')no-repeat 0 0;
	bottom:2%;
	left: 1%;
}
.hot_content > .circle_wrap > .moving_1 {
	width: 210px;
	height: 209px;
	background: url('../images/bg_circle_doughnut02.png')no-repeat 0 0;
	right: 2%;	
}
.hot_content > .circle_wrap > .moving_2 {
	width: 210px;
	height: 209px;
	background: url('../images/bg_circle_doughnut01.png')no-repeat 0 0;
	left: 2%;	
}
.brand_wrap  > h2 {
	font-family: 'WONTitle';
	font-weight: 400;
	color: #222;
	font-size: 36px;
	margin: 0 auto;
	text-align: center;
}
.brand_wrap > .brand_tab {
	font-size: 0;
	text-align: center;
	padding: 42px 0 ;
}
.brand_wrap > .brand_tab > li {
	display: inline-block;
	font-size: 16px;
	color: #555;
	padding: 0 15px;
}
.brand_wrap > .brand_tab > li > a.on {
	color: black;
	text-decoration: underline;
}
.brand_wrap > .brand_tab > li > a:hover {
	color: black;
	text-decoration: underline;
}
.brand_wrap > .brand_tab > li + li {
	border-left: 1px solid #ddd;
}
.brand_wrap > .brand_list > .brand_item {
	display: inline-block;
	border:1px solid transparent;
	width: 174px;
	height: 78px;
	position: relative;
}
.brand_wrap > .brand_list > .brand_item.off {
	display: none;
}
.brand_wrap > .brand_list > .brand_item a {
	display: block;
	padding-top: 19px;
	text-align: center;
	height: 59px;
}
.brand_wrap > .brand_list > .brand_item img {
	height: 41px;
}
.brand_wrap > .brand_list > .brand_item span { 
	background-color: #f2f2f2;
	text-align: center;
	font-size: 18px;
	width: 175px; /*174px*/
	height: 80px;
	position: absolute;
	top: -1px;
	opacity: 0;
	visibility: hidden;
	/*right: -160px;*/
	left: 100px;
	transition: all 0.1s ease;
}
.brand_wrap > .brand_list > .brand_item span.on {
	left: 175px;
	opacity: 1;
	z-index: 100;
	visibility: visible;
}
.brand_wrap > .brand_list > .brand_item span em {
	display: block;
	margin-top: 17px;
	font-size: 15px;
}
.brand_wrap > .brand_list > .brand_item span strong {
	display: block;
	margin-top: 7px;
	font-size: 15px;
}
.brand_wrap > .brand_list > .brand_item span:after {
	content: '';
	position: absolute;
	top: 35px;
	left: -1px;
	width: 10px;
	height: 16px;
	background: url('../images/ico_alliance_arrow01.png')no-repeat 0 0;
}
.brand_wrap > .brand_list > .brand_item:hover {
	border:1px solid #ee6900;
}
.brand_wrap > .brand_list > .brand_item:nth-child(6n+6) span {
	/*left: 175px;*/
	/*left: 20px;*/
	left: 0;
	visibility: hidden;

}
.brand_wrap > .brand_list > .brand_item:nth-child(6n+6) span:after {
	background: #f2f2f2 url('../images/ico_alliance_arrow.png')no-repeat 0 0 ;
	left: auto;
	right: -1px;
}
.brand_wrap > .brand_list > .brand_item:nth-child(6n+6) span.on {
	left: -177px;
	visibility: visible;
	width: 176px;
	height: 80px;
}



/* footer */

.inner > .utill {
	font-size: 0;
	text-align: center;
}
.inner > .utill > li {
	height: 28px;
	font-size: 14px;
	color: #9f9f9f;
	display: inline-block;
}
.inner > .utill > li + li {
	margin-left: 17px;
}
.inner > .utill > li > a {
	vertical-align: sub;
	color: #9f9f9f;
}
.inner > .utill > li strong {
	color: white;
	font-size: 15px;
}
.inner > .utill > li:last-child {
	margin-left: 20px;
	padding-left: 50px;
	background: url('../images/ico_webaccessibility.png')no-repeat left top;
	position: relative;
}
.inner > .utill > li:last-child a:before {
	content: '';
	position: absolute;
	left: -10px;
	top: 6px;
	width: 1px;
	height: 13px;
	background-color: rgba(155,155,155,0.3);
}
.inner > .link {
	font-size: 0;
	text-align: center;
	margin: 20px 0;
}
.inner > .link > li {
	display: inline-block;
	border:1px solid #2c2c2c;
	border-radius: 2px;
}
.inner > .link > li + li {
	margin-left: 5px;
}
.inner > .link > li > a {
	display: inline-block;
	text-align: center;
	line-height: 27px;
	background-color: #272727;
	color: white;
	font-size: 14px;
	width: 109px;
	height: 27px;
}
.inner > .link > li.family {
	border:1px solid #6d6d6d;
	position: relative;
}
.inner > .link > li.family > a {
	width: 180px;
	font-size: 13px;
	color: #777;
	text-align: left;
	padding-left: 20px;
	background: #272727 url('../images/ico_family_arrow.png')no-repeat 173px top;
}
.inner > .link > li.family.active > a {
	background-position: 173px bottom;
}
.inner > .link > li.family .family_tab {
	display: none;
	padding: 5px 0;
	position: absolute;
	left: -1px;
	bottom: 27px;
	width: 200px;
	background-color: #272727;
	border:1px solid #6d6d6d;
	border-radius: 2px;
	font-size: 12px;
	z-index: 200;
}
.inner > .link > li.family.active .family_tab {
	display: block;
}
.inner > .link > li.family .family_tab > li {
	text-align: left;
}
.inner > .link > li.family .family_tab > li strong {
	padding-left: 10px;
	color: #a3a3a3;
	font-weight: normal;
	line-height: 27px;

}
.inner > .link > li.family .family_tab  a {
	padding-left: 20px;
	line-height: 27px;
	display: block;
}
.inner > .group_info {
	text-align: center;
	font-size: 12px;
	color: #777;
}
.inner > .group_info * {
	display: inline-block;
}
.inner > .group_info > address {
	margin-left: 5px;
}
.inner > .group_info > address p + p {
	margin-left: 5px;
}
.inner > .group_info > p {
	margin-left: 10px;
}
.inner > .group_info .copyright {
	display: block;
	margin-top: 10px;
}
.inner > .group_info .copyright > small {
	font-size: 12px;
	line-height: 26px;
	padding-left: 5px;
}
.goto_top {
	position: fixed;
	z-index: 800;
	bottom: 50px;
	right: 20px;
	width: 58px;
	height: 58px;
	opacity: 0;
	background: url('../images/btn_top.png')no-repeat 0 0;
}








/* ------------------------ media -------------------------*/
/* ------------------------ media -------------------------*/

@media screen and (max-width: 1024px) and (min-width: 769px){

/* lay out */
.wrap { 
	min-width: 1024px;
}
.wrap header > .header_wrap  .inner {
	width: 1024px; 
	left: 0;
	margin: 0;
}
.wrap main .content .hot_content { 
	overflow: hidden;
}
.wrap main .content .hot_content > .contents_row { 
	width: 1024px; 
	min-height: 2500px;
	margin: 0 auto; 
	position: relative;
	z-index: 100;
}
.wrap main .brand_list {
	width: 1024px;
}
.wrap footer > .inner {
	width: 1024px;
}


/* header */

.header_wrap  .inner > h1 {
	left: 20px;
}
.header_wrap  .inner > .gnb .utill {
	right: 20px;
}
.header_wrap  .inner > .gnb  nav {
	left: 202px;
}

.header_wrap  .inner > .search {
	right: 112px;
}
.header_wrap  .inner > .onestar {
	right: 20px;
}


/* main */

.visual_slider ul li > span {
	width: auto;
	left: 40px;
	margin-left: 0;
}
.visual_slider ul li > span > strong {
	font-size: 40px;
	line-height: 50px;
}
.bx-wrapper .bx-controls-direction a {
	visibility: hidden;
}



/* big 공통사항 */
.hot_content .contents_row > .hot_item.big.recipe {
	width: 400px;
	height: 509px;
	left: 30px;
}
.hot_content .contents_row > .hot_item.big.recipe .photo {
	height: 400px;
}
.hot_content .contents_row > .hot_item.big.recipe > .detail {
	padding-top: 150px;
	top: 509px;
}
.hot_content .contents_row > .hot_item.row.recipe {
	left: 482px;
}
.hot_content .contents_row > .hot_item.col.blog {
	left: 539px;
}
.hot_content .contents_row > .hot_item.col.cgv {
	top: 700px;
	left: 50px;
	right: auto;
}
.hot_content .contents_row > .hot_item.small {
	top: 770px;
	left: 400px;
}
.hot_content > .contents_row .hot_item.col.facebook {
	top: 770px;
	left: auto;
	right: 50px;
}
.hot_content .contents_row > .hot_item.square {
	width: 400px;
	height: 400px;
}
.hot_content .contents_row > .hot_item.col_1 {
	top: 1193px;
	left: 401px;
}
.hot_content .contents_row > .hot_item.col_2 {
	top: 1193px;
	left: auto;
	right: 100px;
}
.hot_content .contents_row > .hot_item.square {
	top: 1615px;
	right: auto;
	left: 19px;
}
.hot_content .contents_row > .hot_item.row.cgv {
	bottom: 571px;
	left: auto;
	right: 52px;
}
.hot_content .contents_row > .hot_item.col_3 {
	bottom: 130px;
	right: 332px;
}
.hot_content .contents_row > .hot_item.col_4 {
	bottom: 130px;
	right: 67px;
}


.brand_wrap > .brand_list > .brand_item {
	width: 162px;
}

.brand_wrap > .brand_list > .brand_item span { 
	left: 140px;
}
.brand_wrap > .brand_list > .brand_item span.on {
	width: 164px;
	left: 163px;
}



} /* media 1024 끝 */







@media screen and (max-width: 768px){


/* lay out */

.wrap { 
	min-width: 768px;
}
.wrap header {
	height: 54px;
}
.wrap header .header_wrap {
	height: 54px;
}
.wrap header > .header_wrap  .inner {
	left: 0;
	margin: 0;
	width: 100%;
	height: 54px;
}
.wrap main .content .hot_content > .contents_row { 
	width: 768px; 
	min-height: 3700px;
}

.wrap main .brand_list {
	width: 708px;
}
.wrap footer > .inner {
	width: 768px;
}


/* header */

.header_wrap  .inner > h1 {
	top: 7px;
	left: 50%;
	margin-left: -55px;
}
.header_wrap  .inner > .search {
	top: 10px;
	right: 109px;
}
.header_wrap .inner > .search > a{
	height: 44px;
}
.header_wrap  .inner > .onestar {
	top: -6px;
	right: 22px;
}
.header_wrap  .inner > a.btn_gnb_open {
	width: 30px; 
	height: 21px;
	position: absolute;
	top: 15px;
	left: 15px;
	background: url('../images/btn_gnb_open.png')no-repeat;
}
.header_wrap  .inner > .gnb.on {
	left: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
}
.header_wrap  .inner > .gnb  .gnb_inner {
	position: fixed;
	z-index: 999;
	left: -280px;
	top: 0;
	bottom: 0;
	width: 280px;
	background-color: white;
	transition: all 0.5s ease;
}
.header_wrap  .inner > .gnb.on  .gnb_inner {
	left: 0;
}
.header_wrap  .inner > .gnb h2 {
	visibility: visible;
	width: 260px;
	height: 86px;
	padding-left: 20px;
	line-height: 81px;
	font-size: 24px;
	background-color: #222;
	color: white;
	font-weight: 400;
}
.header_wrap  .inner > .gnb  .utill {
	position: static;
	margin: 0;
	width: 100%;
	background-color: #eaeaea;
}
.header_wrap  .inner > .gnb  .utill > li {
	float: none;
}
.header_wrap  .inner > .gnb  .utill > li+li {
	margin-left: 0;
}
.header_wrap  .inner > .gnb  .utill > li > a {
	transition: none;
	font-size: 16px;
	line-height: 45px;
	color: #555;
	padding-left: 30px;
}
.header_wrap  .inner > .gnb  .utill > li > a:hover {
	color: inherit;
}
.header_wrap  .inner > .gnb  .utill .cs_center {
	width: 100%;
	margin-left: 0;
	padding: 0;
	background: url('../images/bg_dotline02.png')repeat-x 0 0;
}
.header_wrap  .inner > .gnb  .utill .cs_center > a {
	padding-right: 0;
	line-height: 62px;
	background: url('../images/ico_util_arrow.png')no-repeat 250px 26px;
}
.header_wrap  .inner  .gnb  .utill .cs_center ul {
	border:1px solid red ;
	color: #555;
}
.header_wrap .inner .gnb  .utill .cs_center.active > a {
	background-position: 250px -20px;
	color: #555;
}
.header_wrap  .inner  .gnb  .utill .cs_center.active ul {
	visibility: visible; 
	width: 100%;
	height: auto; 
	border: none;
	border-radius: 0; 
	padding: 0;
	position: static; 
	background-color: #dadada;
}
.header_wrap .inner .gnb  .utill .cs_center.active ul li {
	background-color: transparent;
}
.header_wrap .inner .gnb  .utill .cs_center.active ul li a {
	font-size: 16px;
	color: #555;
	line-height: 40px;
	padding-left: 30px;
	display: block;
}
.header_wrap  .inner > .gnb .utill > li:last-child {
	margin-left: 0;
	background-color: transparent;
	border-radius: 0;
}
.header_wrap  .inner > .gnb  .utill > li:last-child > a {
	width: auto;
	padding-right: 0;
	text-align: left;
	line-height: 62px;
	background: url('../images/bg_dotline02.png')repeat-x 0 0;
}
.header_wrap  .inner > .gnb  nav {
	position: static;
	width: 100%;
}
.header_wrap  .inner > .gnb  nav > ul > li {
	float: none;
	width: 100%;
	border-top:1px solid #eaeaea;
}
.header_wrap  .inner > .gnb  nav > ul > li:nth-child(4){
	background: none;
}
.header_wrap  .inner > .gnb  nav > ul > li:nth-child(4) > a {
	background: none;
}
.header_wrap  .inner > .gnb  nav > ul > li+li > a {
	background: url('../images/ico_gnb_updown02.png')no-repeat 250px 26px;
}
.header_wrap  .inner > .gnb  nav > ul > li + li {
	margin-left: 0;
}
.header_wrap  .inner > .gnb  nav > ul > li a {
	color: #222;
	display: block;
	padding: 19px 0 16px 20px;
	font-size: 18px;
	transition: none;
}
.header_wrap  .inner > .gnb  nav > ul > li > ul {
	display: none;
	background-color: #eaeaea;
}
.header_wrap  .inner > .gnb  nav > ul > li > ul > li > a {
	font-size: 16px; 
	line-height: 40px;
	padding: 0;
	padding-left: 30px;
}
.header_wrap  .inner > .gnb  nav > ul > li.active > ul {
	display: block; 
}
.wrap header .header_wrap.on {
	height: 54px;
	background-color: transparent;
}
.wrap header .header_wrap.on .inner > .gnb  nav ul > li > ul {
	display: none;
}
.header_wrap  .inner > .gnb.on  .btn_gnb_close {
	display: block;
	position: absolute;
	top: 19px;
	right: -46px;
	text-indent: -99999px;
	width: 30px;
	height: 30px;
	background: url('../images/btn_close.png')no-repeat -27px 0;
	cursor: pointer;
}


/* main */

.visual_slider {
	min-width: 768px;
}
.bx-wrapper .bx-controls-direction a {
	visibility: hidden;
}
.visual_slider ul li > span {
	width: auto;
	left: 40px;
	margin-left: 0;
}
.visual_slider ul li > span > strong {
	font-size: 30px;
	line-height: 40px;
}

.header_wrap  .inner > .search .search_box {
	position: absolute;
	width: 768px;
	top: 44px;
	left: -623px;
}
.serv_info > ul {
	width: 768px;
}
.serv_info > ul > li {
	width: 365px;
}

/* hot content */
.hot_content .contents_row > .hot_item.big.recipe {
	width: 400px;
	height: 509px;
	left: 50%;
	margin-left: -200px;
}
.hot_content .contents_row > .hot_item.big.recipe .photo {
	height: 400px;
}
.hot_content .contents_row > .hot_item.row.recipe {
	top: 620px;
	left: 50%;
	margin-left: -250px;
}
.hot_content .contents_row > .hot_item.col.blog {
	top: 1076px;
	left: 107px;
}
.hot_content .contents_row > .hot_item.col.cgv {
	top: 900px;
	left: 374px;
}
.hot_content .contents_row > .hot_item.small {
	top: 1600px;
	left: 87px;
}
.hot_content > .contents_row .hot_item.col.facebook {
	top: 1540px;
	right: 107px;
	left: auto;
}
.hot_content .contents_row > .hot_item.square {
	width: 400px;
	height: 400px;
	top: 2407px;
	left: 50%;
	margin-left: -200px;
}
.hot_content .contents_row > .hot_item.col_1 {
	top: 1973px;
	left: 123px;
}
.hot_content .contents_row > .hot_item.col_2 {
	top: 1973px;
	left: auto;
	right: 141px;
}
.hot_content .contents_row > .hot_item.row.cgv {
	bottom: 518px;
	left: 50%;
	right: auto;
	margin-left: -250px;
}
.hot_content .contents_row > .hot_item.col_3 {
	bottom: 85px;
	right: 416px;
}
.hot_content .contents_row > .hot_item.col_4 {
	bottom: 85px;
	right: 136px;
}

.brand_wrap > .brand_list > .brand_item:nth-child(6n+6) span {
	left: 140px;
}
.brand_wrap > .brand_list > .brand_item:nth-child(6n+6) span:after {
	background: #f2f2f2 url('../images/ico_alliance_arrow01.png')no-repeat 0 0 ;
	left: -1px;
	right: auto;
}
.brand_wrap > .brand_list > .brand_item:nth-child(6n+6) span.on {
	width: 164px;
	left: 175px;
}
.brand_wrap > .brand_list > .brand_item:nth-child(4n+4) span {
	left: 20px;
}
.brand_wrap > .brand_list > .brand_item:nth-child(4n+4) span:after {
	background: #f2f2f2 url('../images/ico_alliance_arrow.png')no-repeat 0 0 ;
	left: auto;
	right: -1px;
}
.brand_wrap > .brand_list > .brand_item:nth-child(4n+4) span.on {
	left: -175px;
	width: 174px;
	height: 78px;
}




} /*media 768 끝 */